.about {
  padding: 100px 0 0;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .about {
    max-width: 930px;
  }
}

@media (max-width: 992px) {
  .about {
    max-width: 690px;
  }
}

@media (max-width: 768px) {
  .about {
    max-width: 510px;
  }
}

@media (max-width: 575px) {
  .about {
    max-width: 100%;
  }
}

